
@{
    ViewBag.Title = "EditView";
}

<script>
    let read_id = @ViewBag.board_id;

    //common
    let setDivBtnLink = function (select, link) {
        $(document).on('click', select, function () {
            $(location).attr("href", link);
        });
    }

    let clickCURD = function ($this, curd) {
        let url = '';
        let board_id = read_id;
        /*if (curd != 'c') board_id = $($this).attr('board_id');*/
        switch (curd) {
            case 'c':
                url = '/Board/CreateView';
                break;
            case 'u':
                url = '/Board/EditView?board_id=' + board_id;
                break;
            case 'r':
                url = '/Board/ReadView?board_id=' + board_id;
                break;
            case 'd':
                url = '/Board/DeleteView?board_id=' + board_id;
                break;
            default:
                console.log('지정되지 않은 버튼입니다.');
                return;
        }

        setDivBtnLink($this, url);
    }

    let clickList = function ($this) {
        setDivBtnLink($this, '/Board/BoardView');
    }

    $(function () {
        $(document).on('click', '#btn', function () {
            if ($("#input").val() == '' || $("#textarea").val() == '') {
                alert('모두 입력하세요.');
            }
            else {
                $("#form1").submit();
            }
        });
        getReadData();
    });


    let getReadData = function () {
        let readID = read_id;
        // ajax 통신
        // ajax 를 실행하고 나서 동기화를 하지않으면, 쓰레드가 분기된다.
        $.ajax({
            type: "POST",            // HTTP method type(GET, POST) 형식이다.
            url: "/Board/GetOneBoard",      // 컨트롤러에서 대기중인 URL 주소이다.
            data: { id: readID},            // Json 형식의 데이터이다.
            success: function (res) { // 비동기통신의 성공일경우 success콜백으로 들어옵니다. 'res'는 응답받은 데이터이다.
                // 응답코드 > 0000
                console.log("success");
                var json = JSON.parse(res);
                setPage(json);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) { // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
                alert("통신 실패.")
            }
        });
    }

    let setPage = function (json) {
        $('#board_id').val(read_id);
        $("#input").val(json.TITLE);
        $("#textarea").val(json.CONTENTS);
    }
</script>

<h2>EditView</h2>

<form id="form1" action="/Board/UpdateProcess" enctype="multipart/form-data" method="post">
    <!--입력창-->
    <input id="board_id" type="hidden" name="board_id" />
    <p>제목: <input id="input" type="text" name="title" /></p>
    <p>내용: <input id="textarea" type="text" name="contents" /></p>
</form>
<div onclick="clickList(this)">목록</div>
<div id="btn">수정</div>

